<section class="sidebar-tab tab directory flexcol" id="compendium" data-tab="compendium">
  <ol class="directory-list">
    {{#each packs as |pack label|}}
    <li class="compendium-entity">
      <h3>{{label}}</h3>
      <ol class="compendium-list" style="list-style: none; padding: 0">
        {{#each pack.packs}}
        <li class="compendium-pack" data-pack="{{this.collection}}" data-open="0">
          <h4 class="pack-title">
            <a><i class="folder fas fa-folder"></i> {{this.metadata.label}}</a>
          </h4>
          <footer class="compendium-footer">
            <div class="status-icons" style="display: inline">
              {{#if this.private}}<i class="fas fa-eye-slash"></i>{{/if}}
              {{#if this.locked}}<i class="fas fa-lock"></i>{{/if}}
            </div>
            <span class="entity-type">{{this.documentName}}</span>
            <span> ({{this.metadata.id}})</span>
          </footer>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ol>
  
  <footer class="directory-footer">
    {{#if user.isGM}}
    <button class="create-compendium" type="submit"><i class="fas fa-atlas"></i> {{localize "COMPENDIUM.Create"}}</button>
    {{/if}}
    
    <div class="compendium-footer">
      <button class="compendium spells">{{localize "D35E.BrowseCompendiums"}}</button>
    </div>
  </footer>
</section>
