<form class="{{cssClass}} flexcol" autocomplete="off">
  {{#if data.system.uniqueId}}
  <span class="uid-warning tooltip">
      <i class="fas fa-exclamation-triangle"></i>
      <div class="tooltipcontent">{{{ localize 'D35E.ItemHasUID' }}}</div>
    <!--       {{ localize 'D35E.ItemHasUID' }}-->
    </span>
  {{/if}}

  {{!-- Item Sheet Header --}}
  <div class="flexrow" style="flex: 0">
    <div class="sheet-header-profile">
      <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    </div>

    <header class="sheet-header flexrow">

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{labels.level}}
        </li>
        <li>
          {{labels.school}}
        </li>
      </ul>
    </div>
  </header>
  </div>

  <section class="sheet-content flexcol">
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{{enriched.description.value}}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "D35E.SpellDetails"}}</h3>

      {{!-- Spellbook --}}
      {{#if owner}}
      <div class="form-group">
        <label>{{localize "D35E.SpellBook"}}</label>
        <select name="system.spellbook">
          {{#select data.system.spellbook}}
          {{#each spellbooks as |spellbook a|}}
          <option value="{{a}}">{{spellbook.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{else}}
      <input type="hidden" name="system.spellbook" value="primary"/>
      {{/if}}

      {{!-- Spell Level --}}
      <div class="form-group">
        <label>{{localize "D35E.SpellLevel"}}</label>
        <select name="system.level" data-dtype="Number">
          {{#select data.system.level}}
          {{#each config.spellLevels as |name lvl|}}
          <option value="{{lvl}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      
      <div class="form-group stacked">
        <label>{{localize "D35E.LearnedAt"}}</label>

        <div class="data-selector">
          <a class="entry-selector" for="system.learnedAt.class" data-fields="{{localize "D35E.CasterLevel"}};{{localize "D35E.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="system.learnedAt.class">{{localize "D35E.CasterLevel"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="system.learnedAt.domain" data-fields="{{localize "D35E.Domain"}};{{localize "D35E.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="system.learnedAt.domain">{{localize "D35E.Domain"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="system.learnedAt.subDomain" data-fields="{{localize "D35E.SubDomain"}};{{localize "D35E.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="system.learnedAt.subDomain">{{localize "D35E.SubDomain"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="system.learnedAt.bloodline" data-fields="{{localize "D35E.Bloodline"}};{{localize "D35E.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="system.learnedAt.bloodline">{{localize "D35E.Bloodline"}}</label>
        </div>
      </div>

      {{!-- Spell School --}}
      <div class="form-group">
        <label>{{localize "D35E.SpellSchool"}}</label>
        <select name="system.school">
          {{#select data.system.school}}
          {{#each config.spellSchools as |name sch|}}
          <option value="{{sch}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Subschool and type --}}
      <div class="form-group flexrow">
        <label>{{localize "D35E.SubSchool"}}</label>
        <input type="text" name="system.subschool" value="{{data.system.subschool}}" Placeholder="{{localize "D35E.SubSchoolExample"}}"/>
        <label>{{localize "D35E.TypePlural"}}</label>
        <input type="text" name="system.types" value="{{data.system.types}}" Placeholder="{{localize "D35E.SpellTypesExample"}}"/>
      </div>


      <div class="form-group flexrow">
        <label>{{localize "D35E.PowerDisplay"}}</label>
        <input type="text" name="system.display" value="{{data.system.display}}" Placeholder="{{localize "D35E.PowerDisplayExample"}}"/>
      </div>

      {{!-- Misc --}}
      <div class="spell-misc form-group stacked">
        <label>{{localize "D35E.Misc"}}</label>

      </div>
      <div class="flexrow">
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.isSpellSpontaneousReplacement" type="checkbox" name="system.isSpellSpontaneousReplacement" {{checked data.system.isSpellSpontaneousReplacement}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.isSpellSpontaneousReplacement">{{#if data.system.isSpellSpontaneousReplacement}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.IsSpontanousReplacemet"}}</label>
        </div>
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.sr" type="checkbox" name="system.sr" {{checked data.system.sr}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.sr">{{#if data.system.sr}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellResistance"}}</label>
        </div>
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.pr" type="checkbox" name="system.pr" {{checked data.system.pr}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.pr">{{#if data.system.pr}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.PowerResistance"}}</label>
        </div>
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.atWill" type="checkbox" name="system.atWill" {{checked data.system.atWill}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.atWill">{{#if data.system.atWill}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellPrepAtWill"}}</label>
        </div>
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.showInQuickbar" type="checkbox" name="system.showInQuickbar" {{checked data.system.showInQuickbar}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.showInQuickbar">{{#if data.system.showInQuickbar}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.ShowInQuickbar"}}</label>
        </div>
        <div class="toggle" style="width: 175px">
          <input id="{{randomUuid}}-data.isPower" type="checkbox" name="system.isPower" {{checked data.system.isPower}}/>
          <label style="width: 175px" for="{{randomUuid}}-data.isPower">{{#if data.system.isPower}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.IsPower"}}</label>
        </div>


      </div>
      <div class="data-selector">
        <a class="entry-selector" for="system.tags" data-fields="{{localize "D35E.Tags"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
        <label for="system.tags">{{localize "D35E.Tags"}}</label>
      </div>
      {{!-- Spell Components --}}
      <div class="spell-components form-group stacked">
        <label>{{localize "D35E.SpellComponents"}}</label>
      </div>

      <div class="flexrow">
        <div class="toggle" style="width: 125px">
          <input id="{{randomUuid}}-data.components.verbal" type="checkbox" name="system.components.verbal" {{checked data.system.components.verbal}}/>
          <label style="width: 125px" for="{{randomUuid}}-data.components.verbal">{{#if data.system.components.verbal}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellComponentVerbal"}}</label>
        </div>
        <div class="toggle" style="width: 125px">
          <input id="{{randomUuid}}-data.components.somatic" type="checkbox" name="system.components.somatic" {{checked data.system.components.somatic}}/>
          <label style="width: 125px" for="{{randomUuid}}-data.components.somatic">{{#if data.system.components.somatic}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellComponentSomatic"}}</label>
        </div>
        <div class="toggle" style="width: 125px">
          <input id="{{randomUuid}}-data.components.material" type="checkbox" name="system.components.material" {{checked data.system.components.material}}/>
          <label style="width: 125px" for="{{randomUuid}}-data.components.material">{{#if data.system.components.material}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellComponentMaterial"}}</label>
        </div>
        <div class="toggle" style="width: 125px">
          <input id="{{randomUuid}}-data.components.focus" type="checkbox" name="system.components.focus" {{checked data.system.components.focus}}/>
          <label style="width: 125px" for="{{randomUuid}}-data.components.focus">{{#if data.system.components.focus}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.SpellComponentFocus"}}</label>
        </div>
      </div>

      {{!-- Divine Focus --}}
      <div class="divine-focus form-group stacked">
        <label>{{localize "D35E.SpellComponentDivineFocus"}}</label>
        <select name="system.components.divineFocus" data-dtype="Number">
          {{#select data.system.components.divineFocus}}
          {{#each config.divineFocus as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Misc Components --}}
      <div class="misc-components form-group stacked">
        <label>{{localize "D35E.SpellComponentsMisc"}}</label>
        <input type="text" name="system.components.value" value="{{data.system.components.value}}"/>
      </div>

      {{!-- Material Components --}}
      {{#if data.system.components.material}}
      <div class="form-group stacked">
        <label>{{localize "D35E.SpellcastingMaterials"}}</label>
        <input class="materials" type="text" name="system.materials.value" value="{{data.system.materials.value}}"/>
      </div>
      {{/if}}

      {{#if data.system.components.focus}}
      <div class="form-group stacked">
        <label>{{localize "D35E.SpellcastingFocus"}}</label>
        <input class="focus" type="text" name="system.materials.focus" value="{{data.system.materials.focus}}"/>
      </div>
      {{/if}}

      {{!-- Prepared Spells --}}
      {{#if isPreparedSpell}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "D35E.CastsLeft"}}</label>
          <div class="form-fields">
            <input type="text" name="system.preparation.preparedAmount" value="{{data.system.preparation.preparedAmount}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="form-fields">
          <label>{{localize "D35E.SpellPrepPrepared"}}</label>
          <div class="form-fields">
            <input type="text" name="system.preparation.maxAmount" value="{{data.system.preparation.maxAmount}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "D35E.PowerPointsCost"}}</label>
          <div class="form-fields">
            <input type="text" name="system.powerPointsCost" value="{{data.system.powerPointsCost}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      {{#unless isAtWill}}
      <div class="spell-misc form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.preparation.autoDeductCharges" {{checked data.system.preparation.autoDeductCharges}}/> {{localize "D35E.AutoDeductCharges"}}
        </label>
      </div>
      {{/unless}}

      {{!-- Caster Level Offset --}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "D35E.CasterLevelOffset"}}</label>
          <div class="form-fields">
            <input type="text" name="system.clOffset" value="{{data.system.clOffset}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      {{!-- Spell Level Offset --}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "D35E.SpellLevelOffset"}}</label>
          <div class="form-fields">
            <input type="text" name="system.slOffset" value="{{data.system.slOffset}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      <h3 class="form-header">{{localize "D35E.SpellCasting"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/D35E/templates/items/parts/item-activation.html"}}

      <h3 class="form-header">{{localize "D35E.SpellEffects"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/D35E/templates/items/parts/item-action.html"}}

      <h3 class="form-header">{{localize "D35E.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/D35E/templates/items/parts/item-template.html"}}

      {{!-- Spell Description --}}

      <h3 class="form-header">{{localize "D35E.Description"}}</h3>

      <div class="form-group">
        <label>Snippet</label>
        <input type="text" name="system.snip" value="{{data.system.snip}}" data-dtype="String"/>
      </div>
      {{editor content=data.system.shortDescription target="system.shortDescription" button=true owner=owner editable=editable}}
      {{#if isGM}}
      <h3 class="form-header">System Properties</h3>
      {{> "systems/D35E/templates/items/components/uid-input.html"}}
      {{/if}}
    </div>
  </section>
  </section>
</form>
